<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Tulip Shop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @Html.Partial("_HeaderPartial")
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        @Html.Partial("_FooterPartial")
    </footer>
</body>
</html>
